body {
    background: #f3efe6;
}

.hero-custom {
    background: #f3efe6;
    padding: 3rem 1.5rem;
}

.title-green {
    color: #2f6b3f;
}

.btn-green {
    background: #7cc36b;
    color: white;
}

.card-custom {
    border-radius: 15px;
    padding: 1.5rem;
}

.card-green {
    background: #7cc36b;
}

.card-blue {
    background: #7fa8d8;
}

.card-red {
    background: #e57373;
}

.card-brown {
    background: #a67c52;
}